.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  text-align: center;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.highlight {
  color: #61dafb; /* React Blue */
}

.hero p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 2rem;
}

.hero-btn {
  padding: 12px 30px;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #61dafb;
  color: #333;
}